.exit {
  margin: 2rem;
  padding: 2rem;
  background-color: #0ca5e9;
  color: white;
  border-radius: 10px;
  vertical-align: middle;
}
.exit i {
  font-size: 3rem;
  color: white;
}
.exerType {
  vertical-align: middle;
  width: 100%;
  background-color: #0ca5e9;
  /* border-radius: 10px; */
  /* height: 7.2rem; */
  height: 5rem;
}
.exerflex {
  display: flex;
  /* justify-content: space-around; */
  width: 100vh;
  /* align-items: center; */
}
.exerType p {
  font-size: 3rem;
  font-weight: bold;
}
.exerType :nth-child(1) {
  margin: 1rem;
}
.exerType :nth-child(2) {
  text-align: right;
  margin: 1rem;
  color: #0ca5e9;
}

.divCam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 75vh;
  margin: 2rem;
}

/* .mainctn, .divCam {
  position: relative;
  width: 100%;
  height: 100vh; 
}

.divCam {
  position: relative;
  width: 100%;
  height: 100%;
} */